.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}

.fade-down {
  &-enter {
    opacity: 0;
    transform: translateY(10px);
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms, transform 300ms;
    transform: translateY(0);
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 200ms, transform 300ms;
    transform: translateY(10px);
  }
}
