@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap';
@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'animations';

.app {
  min-height: 100vh;
  background: var(--bg-color);
  transition: background 0.2s, color 0.2s;
}

body {
  background: var(--bg-color);
}

* {
  font: var(--font-m);
  color: var(--text-color);
}

.main {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.page {
  flex-grow: 1;
  padding: 20px;
}
