@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'utils';
@import 'animations';

.app {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  max-width: 1400px;
  background: var(--bg);
  transition: background 0.2s, color 0.2s;
}

html {
  font-size: 16px;
}

body {
  background: var(--bg);
  transition: background 0.2s, color 0.2s;
}

* {
  font-family: var(--font-family-main);
  color: var(--text-color);
}

.main {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 20px;
}

.mainTitle {
  font: var(--font-xl);
  color: var(--main);
  font-weight: 800;
  text-transform: uppercase;
  margin: 20px var(--window-padding-x) 70px;
  padding-left: 50px;
}
