.button {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.2s;

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  @include focus-visible-outline;

  &.m {
    font: var(--font-m);
    font-weight: 700;
    padding: 9px 30px;
  }

  &.s {
    font: var(--font-s);
    font-weight: 700;
    padding: 8px 30px;
  }

  &.xs {
    font: var(--font-xs);
    font-weight: 500;
    padding: 6px 14px;
  }

  &.primary {
    color: var(--primary-color);
    background: var(--primary);

    &:hover:not(:disabled) {
      background: var(--primary-hover);
    }
  }

  &.outline {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: transparent;
    font-weight: 500;

    &:hover:not(:disabled) {
      border-color: var(--primary-hover);
      color: var(--primary-hover);
    }
  }

  &.clear {
    border: none;
    background: transparent;
    font-weight: 500;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  &.icon {
    height: 45px;
    min-width: 45px;
    width: 45px;
    padding: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: var(--secondary);
      font-size: 30px;
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}
