.sidebar {
  position: relative;
  z-index: 15;

  min-width: var(--sidebar-width);
  height: 100%;
  padding: 40px 40px;

  background: var(--sidebar-bg-color);

  transition: background 0.2s, width 0.2s;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}
