.input {
  position: relative;
  width: 100%;
  max-width: 400px;
  transition: all 0.2s;

  &.readonly {
    opacity: 0.8;

    input:focus {
      outline: none !important;
    }
  }

  &.errored {
    input {
      border-color: var(--danger);
    }
  }

  &:not(.readonly):not(.errored) {
    // input hover
    input:not(:disabled):hover {
      border-color: var(--main);
    }

    // input focus
    input:focus {
      border-color: var(--main);

      // box-shadow: 0 0 0 2px var(--main);
    }
  }

  input {
    width: 100%;
    padding: 9px 14px;
    font: var(--font-s);
    font-weight: 700;
    color: var(--main);
    background: transparent;
    border: 1px solid var(--secondary);
    border-radius: 3px;
    transition: all 0.2s;
    outline: none !important;

    @include focus-visible-outline;

    &::placeholder {
      color: var(--light-grey);
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.8;
    }
  }
}

.label {
  display: inline-block;
  font: var(--font-xs);
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 5px;
}

.error {
  margin-top: 3px;
}
