.input {
  position: relative;
  max-width: 100%;
  transition: all 0.2s;

  input {
    width: 100%;
    padding: 8px 12px;
    color: var(--text-color);
    background: var(--bg-color-800);
    border: 1px solid var(--bg-color-800);
    border-radius: 3px;
    transition: all 0.2s;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }

    @include focus-visible-outline;

    &:focus {
      border-color: var(--primary-color);
      outline: none !important;
      box-shadow: 0 0 0 2px var(--shadow-primary-color);
    }

    &:not(:disabled):hover {
      border-color: var(--hover-primary-color);
    }
  }
}

.error {
  margin-top: 3px;
  font-size: 14px;
}
