// Sizes
.xl {
  font: var(--font-xl);
}
.l {
  font: var(--font-l);
}
.m {
  font: var(--font-m);
}
.s {
  font: var(--font-s);
}
.xs {
  font: var(--font-xs);
}
.xxs {
  font: var(--font-xxs);
}

// Weights
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}

// Colors
.error {
  color: var(--danger);
}
.success {
  color: var(--success);
}
