body.dark {
  --bg-color: #333;
  --primary-color: #8a31d2;
  --primary-text-color: #fff;
  --hover-primary-color: #b161f2;
  --primary-color-light: #4d2a6a;
  --hover-primary-color-light: #613485;

  --secondary-color: #979797;
  --secondary-bg-color: #515151;
  --hover-secondary-color: #adadad;
  --text-color: #eee;
  --border-color: #424242;
  --bg-color-800: #252525;
  --shadow-primary-color: rgba(#8a31d2, 0.2);

  --disabled-color: #565656;
  --disabled-text-color: #cacaca;
  --disabled-border-color: #838383;

  --error-color: #e13030;
  --success-color: #35b425;

  // Header
  --header-bg-color: #222;

  // Sidebar
  --sidebar-bg-color: #222;
}
