body.dark {
  --bg-color: #333;
  --primary-color: #8a31d2;
  --primary-text-color: #fff;
  --hover-primary-color: #b161f2;
  --primary-color-light: #4d2a6a;
  --hover-primary-color-light: #613485;

  --secondary-color: #979797;
  --secondary-bg-color: #515151;
  --hover-secondary-color: #adadad;
  --text-color: #eee;
  --border-color: #424242;
  --bg-color-800: #252525;
  --bg-color-600: #2c2c2c;
  --shadow-primary-color: rgba(#8a31d2, 0.2);

  --disabled-color: #565656;
  --disabled-text-color: #cacaca;
  --disabled-border-color: #838383;

  --error-color: #e13030;
  --success-color: #35b425;
  --warning-color: #faad14;

  --code-background: #232323;

  // Header
  --header-bg-color: #222;

  // Sidebar
  --sidebar-bg-color: #222;

  --skeleton-base-color: #5f5f5f;
  --skeleton-shine-color: #757575;

  --main: #fbfbfb;
  --main-hover: #232323;
  --secondary: #a2a2a2;
  --light-grey: #5b5b5b;

  --primary: #ffffff;
  --primary-color: #111111;
  --primary-hover: #d4d4d4;

  --bg: #181818;
  --bg2: #252525;
  --light-bg: #343434;

  --danger: #c22121;
  --danger-bg: #901f1f;
  --danger-on-bg: #ffc1c1;

  --success: #259e47;
  --success-bg: #2f7e2e;
  --success-on-bg: #affac4;
}
