.icon {
  &.hovered {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &.l {
    font: var(--font-l);
  }

  &.m {
    font: var(--font-m);
  }

  &.s {
    font: var(--font-s);
  }

  &.weight400 {
    &::before {
      font-weight: 400;
    }
  }

  &.weight500 {
    &::before {
      font-weight: 500;
    }
  }

  &.weight600 {
    &::before {
      font-weight: 600;
    }
  }

  &.weight700 {
    &::before {
      font-weight: 700;
    }
  }
}
