.header {
  padding: 8px 40px;
  height: var(--header-height);
  background: var(--header-bg-color);
  box-shadow: 0 4px 8px rgba(#111, 0.5);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
  transition: background 0.2s;
}

.links {
  display: flex;
  align-items: center;

  & > a {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
