.header {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 8px var(--window-padding-x);
  background: var(--header-bg-color);
  box-shadow: 0 4px 8px rgba(#111, 0.5);
  transition: background 0.2s;
}

.links {
  display: flex;
  align-items: center;

  & > a {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sidebarSwitcher {
  margin-right: 20px;
}

.themeSwitcher {
  margin-left: 15px;
}

.langSwitcher {
  margin-left: auto;
}

.user {
  margin-left: 20px;

  span {
    cursor: pointer;
  }

  span + button {
    margin-left: 10px;
  }
}
