.hamburger {
  --hamburger-width: 20px;
  --hamburger-height: 8px;
  --hamburger-line-space: -6px;
  --hamburger-line-height: 1.5px;

  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    opacity: 0.7;
  }
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.isActive .inner,
.hamburger.isActive .inner::before,
.hamburger.isActive .inner::after {
  background-color: var(--text-color);
}

.box {
  width: var(--hamburger-width);
  height: var(--hamburger-height);
  display: inline-block;
  position: relative;
}

.inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.inner,
.inner::before,
.inner::after {
  width: var(--hamburger-width);
  height: var(--hamburger-line-height);
  background-color: var(--text-color);
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.inner::before,
.inner::after {
  content: '';
  display: block;
}

.inner::before {
  top: var(--hamburger-line-space);
}

.inner::after {
  bottom: var(--hamburger-line-space);
}
