.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    opacity: 0.7;
  }
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.isActive .inner,
.hamburger.isActive .inner::before,
.hamburger.isActive .inner::after {
  background-color: var(--text-color);
}

.box {
  width: var(--hamburger-width);
  height: var(--hamburger-height);
  display: inline-block;
  position: relative;
}

.inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.inner,
.inner::before,
.inner::after {
  width: var(--hamburger-width);
  height: var(--hamburger-line-height);
  background-color: var(--text-color);
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.inner::before,
.inner::after {
  content: '';
  display: block;
}

.inner::before {
  top: var(--hamburger-line-space);
}

.inner::after {
  bottom: var(--hamburger-line-space);
}

// Animation spin

.spin .inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.spin .inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.spin .inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.spin.isActive .inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.spin.isActive .inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.spin.isActive .inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Animation squeeze

.squeeze .inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.squeeze .inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.squeeze .inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.squeeze.isActive .inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.squeeze.isActive .inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.squeeze.isActive .inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
