.comment {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  background: var(--light-grey);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 6px;
  margin-top: 4px;
}

.username {
  font: var(--font-s);
  font-weight: 700;
}

.createdAt {
  font: var(--font-xs);
  color: var(--secondary);
}

.tools {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
}

.additionalTools {
  padding: 6px 12px;
  background: var(--bg);
  box-shadow: 0 2px 20px rgba(#6c6c6c, 0.25);
  border-radius: 10px;
}
