.switcher {
  min-width: 52px;
}

.icon {
  position: absolute;
  left: calc(100% + 4px);
  z-index: -1;
  margin-top: 1px;
  font-size: 18px;
  color: #fff;
  transition: 0.2s;
}

.checked {
  .icon {
    left: calc(-100% - 3px);
    margin-top: 1.5px;
  }
}
